@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --background: white;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rametto: var(--font-rametto-one);
  --font-lato: var(--font-lato);
}

body {
  min-height: 100vh;
  background: radial-gradient(
    circle,
    rgb(71 85 105) 0%,    /* slate-600 */
    rgb(15 23 42) 100%    /* slate-900 */
  );
  background-size: 200% 200%;
  color: var(--foreground);
  font-family: var(--font-bevan), var(--font-lato), sans-serif;
  animation: fadeIn 1s ease-in-out, gradientShift 5s ease-in-out infinite alternate;
}

@keyframes gradientShift {
  0% {
    background-position: 30% 70%;
  }
  100% {
    background-position: 70% 30%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}