@import "tailwindcss";

:root {
  --background: white;
  --foreground: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rametto: var(--font-rametto-one);
  --font-lato: var(--font-lato);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Bevan, Lato, sans-serif;
}

.navitem-animation {
  @apply transition delay-75 ease-in-out hover:-translate-y-0.5 hover:text-slate-200;
}
